.squares {
  height: 100px;
  width: 100px;
  background-color: black;
  display: flex;
  margin: 1em;
  justify-content: center;
  align-items: center;
}

.hide-span {
  display: none;
}

.show-span {
  display: inline;
  color: white;
  font-size: 3em;
}

.container {
  display: flex;
  flex-flow: row wrap;
}
